html {
   font-family: "Kurale", serif;
}

#div-001 {
   background-color:  red;
   border: 500px;
   width: 900px ;
}

#div-002 {
   width: 50vw;
}

#h1-001 {
   font-size: 50px;
}

#span-001{
   background-color: lightblue;
   color: red;
   font-weight: bold;
}